#!/usr/bin/env sh
. "$(dirname -- "$0")/_/husky.sh"

# Enforce conventional commit messages
# Format: type(scope?): subject
# Examples:
#   feat: add user authentication
#   fix(api): handle null response
#   docs: update README

npx --no -- commitlint --edit ${1}
